

.queryMap-bufferOptions {
	border: 1px solid;	
    border-collapse: collapse; 
	margin-top: 5px; 
	margin-left: 18px;
	display: none; 
}

.queryMap-statusMessage {
	position: absolute;
	right: 5px;
    top: 45px;
    color: yellow;
    background-color: red;
    font-weight:bold;
}