#fgm-panelDock {
	text-align: center;
	position: absolute;
	left: 200px;
	bottom: 5px;
	display: none;
	white-space: nowrap;
	padding: 1em;
	cursor: pointer;
}

#fgm-gridContainer {
	overflow: hidden; 
}

#fgm-statusMessage {
	position: absolute;
    color: yellow;
    background-color: red;
    font-weight:bold;
	padding: 5px; 
}

.fgm-layerTool-icon {
	display: inline-block; 
	padding-left: 10px;
	cursor: pointer;
}

.fgm-layerTool-zoomIn {
	background-image: url("../../../../images/zoomIn.png");
	background-repeat: no-repeat;
	display: inline-block; 
	width: 24px;
	height: 24px; 
	padding-left: 5px;
	cursor: pointer;
}

.fgm-layerTool-excel {
	background-image: url("../../../../images/excel.png");
	background-repeat: no-repeat;
	display: inline-block; 
	width: 24px;
	height: 24px; 
	padding-left: 5px;
	cursor: pointer;
}

.fgm-layerTool-tdb {
	background-image: url("../../../../images/tdb.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px; 
	padding-left: 5px;
	cursor: pointer;
	display: none; 
}

.fgm-layerTool-toast {
	background-image: url("../../../../images/toast.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px; 
	padding-left: 5px;
	cursor: pointer;
	display: none; 
}

.fgm-cxtmenu-nohyperlink {
	font-style: italic;
	color: #dddddd;
}

.fgm-cxtmenu-hyperlink {
	font-style: bold;
}

/* datagrid action column icon - START */
.fgm-cmd-icon-dismiss {
	background-image: url("../images/dismiss.png");
}
.fgm-cmd-icon-zoomIn {
	background-image: url("../images/zoomIn.png");
}
.fgm-cmd-icon-hyperlink {
	background-image: url("../images/hyperlink.png");	
}
/* datagrid action column icon - END */

/* override kendo ui - START */

.k-window {
	font-family: arial;
	font-size: 0.9em; 
}

div.k-window-content {
	padding: .2em; 
}

.k-i-custom {
	background-position: -80px -288px !important;
}
/*
.k-link:not(.k-state-disabled):hover>.k-i-custom  {
	background-position: -80px -288px;
}

.k-state-hover>.k-i-custom  {
	background-position: -80px -288px;
}
 */

.k-panelbar .k-header {
	font-weight: bolder;
	background-color: #ccc;
}

.k-grid-header th.k-header {
	padding: .3em .2em .3em .2em
}

/* keep everything (long text) on a single line */
.k-grid td {
	white-space:nowrap;
	padding: 0em .6em .1em .2em;
}

.k-grouping-header {
	padding-left: 1.2em; 
	padding-top: 0em; 
	padding-bottom: 0em; 
}

/* override the header column menu style */
#fgm-datagrid  th a.k-state-active {
	-webkit-box-shadow: none; 
	box-shadow: none;
	background-color: yellow; 
}

#fgm-datagrid span.k-icon {
	opacity: 1;
}

#fgm-datagrid a.k-button.k-button-icontext.k-grid-Dismiss {
    min-width : 0;
	padding: 0px 2px 0px 2px;
}
#fgm-datagrid a.k-button.k-button-icontext.k-grid-ZoomIn {
    min-width : 0;
	padding: 0px 2px 0px 2px;
}
#fgm-datagrid a.k-button.k-button-icontext.k-grid-Hyperlink {
    min-width : 0;
	padding: 0px 2px 0px 2px;
}
#fgm-datagrid a.k-button.k-button-icontext.k-grid-Elevation {
    min-width : 0;
	padding: 0px 2px 0px 2px;
}
/* override kendo ui - END */
